

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en">
<head>
<title>What is Tea?</title>

<meta name="Generator" content="CMS Made Simple - Copyright (C) 2004-9 Ted Kulp. All rights reserved." />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
 
<!-- Add code here that should appear in the metadata section of all new pages -->


<script type="text/javascript">

   var _gaq = _gaq || [];
   _gaq.push(['_setAccount', 'UA-31879120-1']);
   _gaq.push(['_trackPageview']);

   (function() {
     var ga = document.createElement('script'); ga.type = 
'text/javascript'; ga.async = true;
     ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 
'http://www') + '.google-analytics.com/ga.js';
     var s = document.getElementsByTagName('script')[0]; 
s.parentNode.insertBefore(ga, s);
   })();

</script>

</head>
<body id="indexHomeBody">

<div id="mainWrapper">




<div id="contenttwo"> 

   <div id="content">
 <h1>Welcome to our online Tea shop!</h1>
 <p>

At our Tea On-line shop we are delighted to offer our public and retail customers more than 200 highest quality loose tea blends and 45 higest quality coffee beans from all around the world. We supply finest gourmet tea blends as black tea and flavoured black tea, green tea and flavoured green tea, red tea, white tea, herbal tea, fruit tea, mate tea, yellow tea.

We specialize in top quality Classic Coffee beans, Flavoured Coffee and Espresso- finest chocolates and tea and coffee accessories for public and retail Horeca customers, offices and shops in Ireland!</p>
<h2>What is tea?</h2>
<p>Tea is a plant. Everything brewed from the leafs of the this plant is called tea as well.<br />Whether it is green, black, oolong or white tea, they all come from the same plant. The difference in the tea type lies in the harvest and the processing of the leaves. It would be technically incorrect to say fruit tea, herbal tea or Rooibos tea because they are no real teas. However the colloquial English today does not make a difference between them. As long as something is brewed out of leaves, roots, fruits, bark or something similar it is called tea.</p>
<p>Tea in Chinese/Mandarin is called "cha" and the sign for it looks like this:</p>
<p><img title="Cha Symbol" src="/assets/cha_symbol.gif" alt="Cha Symbol" width="70" height="70" /></p>
<p>There is a word for tea in most languages. It is very interesting to follow the origins of it in the different countries.</p>
<p>Tea was brought to Europe first by Dutch traders. They came in contact with tea through Chinese traders in Java who came from the southern port of Amoy (Xiamen today). In their dialect the word for Cha is Te (pronounced like tay/day). All other European countries, except Portugal and Russia, bought their first tea from the Dutch and with the tea they took over the name too.</p>
<p>Therefore the word for tea is similar in most European languages:</p>
<p><strong>Dutch: Thee<br />German/Scandinavian: Tee<br />English: Tea<br />French: Thè<br />Italian/Spanish: Tè<br />Latin/Scientific: Thea.</strong></p>
<p>In Portugal tea is called Cha. The are two reasons: Portuguese Jesuits lived at the Chinese Emperors court in the 16th/17th century and when they returned to Portugal they made tea known as Cha. The other reason is that the first Portugese traders were based in Macao where the Cantonese word for tea is Cha.</p>
<p>Other parts of the world come in touch with tea through overland trade. Caravans brought their goods along the silk road which led through Mongolia, the Slavic-Indian area to Arabia. In those countries the word for tea is very similar to the Chinese Cha or only slightly different:</p>
<p><strong>Russian: Tchai<br />Arabian Shai<br />Persian Cha<br />Turkish: Tchay<br />Tibetan Ja</strong></p>
<p>The expression "a cup of cha" which is still in use in Britain and Ireland, seems to go back to the beginnings. It is said that Cha came to the English language through the slang of cockney sailors.</p></div>

<!--  -->
</div> 


	<div id="lefttwo"> 
	<!-- LEFT COLUMN -->
	<!--  -->
        <div id="navColumnOneWrapper" style="width: 186px"><!--// bof: categories //-->
<div class="leftBoxContainer" id="categories" style="width: 186px">

<h3 class="leftBoxHeading" id="contentHeading"><a href="/all-about-tea"></a></h3><div id="categoriesContent" class="sideBoxContent">

 </div>
<h3 class="leftBoxHeading" id="categoriesHeading"><a href="/shop/"></a></h3>
<div id="ezpages" class="leftBoxContainer" style="width: 186px;">

</div>
</div>

</div></td>
       

	<br />
	<!-- END LEFT COLUMN -->
	</div>
	<div class="clear"></div>   

</div> 

</body></html>