<h1>About Us</h1>

<br/>
<p>

We at The Fine Tea Company offer a wide range of speciality loose tea from all over the world. Our online tea shop supplies a range of teas to suit different tastes.<br/><br/>

The Fine Tea Company Tea Shop sells a range of white tea including Jasmine Silver Needle and Fujian White Peony for example and other flower teas with delicate tastes and fragrances.<br/>

We like to promote the benefits of green tea also and have a special organic tea range. You can buy green tea of different varieties from our tea shop each with their own distinctive tastes.<br/><br/>

Sharing the joy of tea is easy with our tea gifts.  Well sell tea gift boxes with selections of different blends and flavours to try, and also teaware gifts such as our beautiful modern or Chinese tea sets.<br/><br/>

Staying dedicated to sharing information about the many different tea variations available, we also attend food festivals, and gift fayres across the country. If you have a question, we are always happy to help and advise.<br/><br/>

To help you get to know us a little better, we’ve included some facts about our company. We've also included a potted history of our origins and our growth, from a small family run business to Ireland’s favourite tea brand.<br/><br/>
Did you know?

    The Irish Tea market is worth an estimated €78 million at retail selling price.<br/><br/>
    Our TeaShop accounts for 40% of all tea sales in Ireland.<br/><br/>
    Our TeaShop dominates the premium sector of the tea market, with Gold Blend as the sector market leader.<br/><br/>
    Our TeaShop now has 72 employees.


</p>
